@use '../variables';

.info-bar {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: variables.$textColor;

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: variables.$secondTextColor;

            b {
                color: variables.$secondTextColor;
                display: block;
                font-size: 18px;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__info {
            gap: 16px;
        }
    }
}